body {
  background-color: #ffe6eb;
  text-align: center;
  font-family: 'Cursive', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #444;
  font-size: 4em;
  margin-bottom: 20px;
}

.heart {
  font-size: 4rem;
}

/* Contenedor */
.gift-container {
  position: relative;
  width: 80vw; /* 80% del ancho de pantalla */
  max-width: 400px;
  height: 80vw;
  max-height: 400px;
  margin: 0 auto;
  cursor: pointer;
}

/* Caja */
.box {
  width: 100%;
  height: 100%;
  background-color: #ffb6c1;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
  z-index: 1;
}

/* Tapa */
.lid {
  width: 100%;
  height: 20%;
  background-color: #ff69b4;
  border-radius: 20px 20px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.6s ease;
  z-index: 3;
}

/* Listón vertical */
.ribbon-vertical {
  width: 10%;
  height: 100%;
  background-color: #ff3366;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

/* Listón horizontal */
.ribbon-horizontal {
  width: 100%;
  height: 10%;
  background-color: #ff3366;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
}

/* Moño arriba */
.ribbon-bow {
  width: 20%;
  height: 20%;
  background-color: #ff3366;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;

